config/n8n/workflows/Agent_to_retrieve_certain_data.json
{
  "name": "Agent to retrieve certain data",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "720408f4-b535-43dd-8f7a-3e9c1940b672",
      "name": "When chat message received",
      "webhookId": "a1b3efda-0a1e-47ae-9471-89c33986da57"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. You role is to get name and birthday from the user and then send it via email once you have both. Aim your questions in that direction"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "76c1276c-4fd4-4f86-9915-ed91b12eff84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        220,
        240
      ],
      "id": "6ea3724e-5bad-4bfb-b7fa-3aff287edad7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MoJcp01pCTxRO78u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        560,
        0
      ],
      "id": "4f1c171b-191e-41ba-8f68-03c950c77d31",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        980,
        220
      ],
      "id": "101db49c-382e-41ab-89b1-ca81f081d46c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "MoJcp01pCTxRO78u",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": [\"string\", \"null\"]\n    },\n    \"birthday\": {\n      \"type\": [\"string\", \"null\"]\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1160,
        220
      ],
      "id": "7b4eb5ff-b791-4583-8039-fde805452f15",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages.toJsonString() }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        920,
        0
      ],
      "id": "bdc758f3-2d17-4f70-9daf-d2a14d517939",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        480,
        240
      ],
      "id": "f481a331-24df-4e5d-ad4c-ef14526a6ce9",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "content": "https://community.n8n.io/t/building-conversational-agent-to-retrieve-certain-data/61807"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        -260
      ],
      "typeVersion": 1,
      "id": "1d42ac10-7494-4d6e-8ef1-752d9d09901e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad2b3855-5802-4e2d-902c-57d081d95b54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "8fnBC25M8yGYfRT9",
  "tags": []
}